@charset "UTF-8";
/*
    Em HTML id e em CSS #
    em HTML class e em CSS .
*/

body{background-color: #00F8FF; font: normal normal 1em sans-serif; color: black;}

h1{color: #407D80; font-family: 'Times New Roman', Times, serif;}

/**/
#Principal{text-align: center; color: #395455; font: normal bold 2.5em serif;
}
#html{background-color: orange; color: antiquewhite;}
#css{background-color: #1064FF; color: antiquewhite;}

/*class*/
.basico{color: #0004ff;}
.intermediario{color: #FFFF00;}
.avançado{color: #FF110C;}